<!DOCTYPE html>
<html>
<head>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.10.6/moment-with-locales.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.10.6/locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone-with-data.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
    <h1><i class='fa fa-clock-o'></i>TeamTime</h1>
<div id="app">
  <table>
    <tr v-for="user in users">
        <td><img class="avatar" :src="user.avatar"/></td>
        <td>{{ user.name }}</td>
        <td>{{ user.timezone }}</td>
        <td>
            <div class="time_block" v-for="h in user.hours" style="background-color:{{ h | time_color}}">&nbsp;</div>
        </td>
        <td>{{ user.time }}</td>
    </tr>
  </table>
</div>
</body>
</html>