<!DOCTYPE html>
<html>
<head>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="main.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.10.6/moment-with-locales.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.10.6/locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.4/moment-timezone-with-data.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Codystar|Raleway:400,500,300,700' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
    <header>
<h1 style="font-family: 'Codystar', cursive;"><i class='fa fa-clock-o'></i>TeamLine</h1>
        <div id='time_key'></div>
    </header>
<div id="app">
  <table>
    <tr v-for="user in users" style="background-color:{{ user.hour | time_color}}">
        <td><img class="avatar" :src="user.avatar"/></td>
        <td><div class="name">{{ user.name }}</div></td>
        <td><div class="userdata_container"><div class='location'>{{ user.timezone }}</div>{{ user.time }}</div></td>
        <td>
            <div class="time_bar" v-on:mousemove.stop.prevent="showPercentage">
            <div class="time_block" v-for="h in user.hours" style="background-color:{{ h | time_color}}">{{h}}</div>
            </div>
        </td>
    </tr>
  </table>
  <div class="strength_container">
    <div class="strength_cell"  v-for="column in column_strength" >
      <div class="strength_bubble" style="width:{{column*2}}px; height:{{column}}px; margin-left:-{{column*2/2}}px;"></div>
    </div>
  </div>
  <div>{{percentage}}</div>
  <input type=range min=0 max=24 step=1 v-model="range" debounce="10">
</div>
<script src="main.js"></script>
</body>
</html>