body {
    font-family: "Helvitica Neue", sans-serif;
    background: #dfdfdf;

}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    background: #eee;
}

tr:nth-child(even) td {
    background: #fafafa;
}

td:nth-child(2) {
    font-weight: bold;
}

td:last-child {
    text-align: right;
}

#app {
  background: none;
  padding: 20px;
  border-radius: 16px;
}

.avatar {
    border-radius: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid #222;
}

.time_block {
    float: left;
    width: 10px;
    height: 40px;
    outline: 1px solid rgba(255,255,255,0.2);
}