body {
    font-family: "Helvitica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    color: #345;
    padding: 10px 20px;
    margin: 0;
}

h1 {
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
  color: #fff;
    padding: 5px 10px;
/*     border-bottom: 1px solid #eee;
     */    white-space: nowrap;
    /* background: #eee; */
}

tr:nth-child(even) td {
    /* background: #fafafa; */
}

td:nth-child(2) {
    width: 1%;
    padding-right: 20px;
}

td:first-child {
    width: 30px;
}
td:nth-child(3) {
    width: 1%;
    text-align: right;
}
td:nth-child(4) {
    padding: 0;
}

footer {
    width: 100%;
    padding: 20px;
    text-align: center;
}



#app {
  background: none;
  border-radius: 16px;
}

.name {
    font-weight: bold;
}
.location {
    font-size: .5em;
}

.avatar {
    border-radius: 30px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
/*     border: 2px solid #222;
     */}

.time_bar {
    width: 100%;
    height: 60px;
    overflow: hidden;
    /* outline: 2px inset #dfdfdf; */
}

.time_block {
    float: left;
    width: 4.1666%;
    height: 60px;
    /* outline: 1px solid rgba(255,255,255,0.2); */
    font-size: 7px;
    overflow: hidden;
    color: rgba(255,255,255,0.7);
    padding: 2px;
    box-sizing: border-box;
}

#time_key {
    position: absolute;
    right: 20px;
    top: 18px;
}

.key_pill {
    float: left;
    font-size : 0.5em;
    width : 50px;
    height : 2em;
    color : #fff;
    padding : 0px 8px;    
    border-radius : 2px;
    line-height : 2em;
    margin: 2px;
}
